*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

@media screen and (max-width: 2000px){
    body{
        background-color: hsl(0, 0%, 98%);
        padding-top: 20px;
        max-height: 90vh;
    }
    
    main{
        display: flex;
        flex-direction: column;
        gap: 45px;
    }
    
    header{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    
    #title{
        font-size: 25px;
        color: gray;
    }
    
    .title, p, h3{
        color: hsl(234, 12%, 34%);
    }
    
    img{
        max-width: 80px;
        max-height: 80px;
        margin-left: 220px;
    }
    
    div{
        max-width: 350px;
        height: fit-content;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 0 10px hsl(234, 12%, 34%);
    }
    
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .middle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    footer{
        width: 100%;
        background-color: rgba(218, 165, 32, 0.521);
        margin-top: 100px;
        padding: 20px;
        font-size: 18px;
        text-align: center;
        font-weight: bolder;
    }

    .attribution a{
        color: rgb(78, 57, 5);
    }
    
}

@media screen and (max-width: 500px){
    .content{
        display: flex;
        flex-direction: column;
    }

}